<footer class="footer">
    <section class="container">
        <h2 class="footer-main-tittle tittle">- get in touch with us -</h2>
        <p class="footer-tittle">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec
            malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <p class="footer-tittle-phone">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.</p>
        <section class="icons_wrapper">
            <a href="#" class="icon icon1"><img src="../../img/rss-icon.png" alt=""></a>
            <a href="#" class="icon icon2"><img src="../../img/facebook-icon.png" alt=""></a>
            <a href="#" class="icon icon3"><img src="../../img/twitter-icon.png" alt=""></a>
            <a href="#" class="icon icon4"><img src="../../img/dribbble-icon.png" alt=""></a>
            <a href="#" class="icon icon5"><img src="../../img/pinterest-icon.png" alt=""></a>
        </section>
        <section class="footer-contacts">
            <p class="contacts-wrapper">
                <a href="#" class="contact"> Moonshine St. 14-05 Light City</a>
                <a href="#" class="contact"> T. +00 (123) 456 78 90</a>
                <a href="#" class="contact">first.last@email.com</a>
            </p>
        </section>
    </section>
</footer>
