<header class="header container">
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__list_item"><a href="#">home</a></li>
            <li class="menu__list_item"><a href="#">about us</a></li>
            <li class="menu__list_item"><a href="#">our journal</a></li>
            <li class="menu__list_item"><a href="#">projects</a></li>
            <li class="menu__list_item"><a href="#">news</a></li>
            <li class="menu__list_item"><a href="#">features</a></li>
            <li class="menu__list_item"><a href="#">contact</a></li>
        </ul>
    </nav>
    <section class="menu-button" id="menuToggle">
        <input type="checkbox" />
        <section class="button-lines">
            <svg class="burger-inactive visible " xmlns="http://www.w3.org/2000/svg" width="44" height="37" viewBox="0 0 44 37" fill="none">
                <g clip-path="url(#clip0_22_120)">
                    <rect width="44" height="37" fill="black" />
                    <rect x="27.8033" y="24.7175" width="17" height="2" transform="rotate(-135 27.8033 24.7175)" fill="white" />
                    <rect x="15.7825" y="23.3033" width="17" height="2" transform="rotate(-45 15.7825 23.3033)" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_22_120">
                        <rect width="44" height="37" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <svg class="burger-active" xmlns="http://www.w3.org/2000/svg" width="44" height="37" viewBox="0 0 44 37" fill="none">
                <g clip-path="url(#clip0_22_47)">
                    <rect width="44" height="37" fill="black" fill-opacity="1" />
                    <rect x="13" y="13" width="17" height="2" fill="white" />
                    <rect x="13" y="17" width="17" height="2" fill="white" />
                    <rect x="13" y="21" width="17" height="2" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_22_47">
                        <rect width="44" height="37" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </section>
        <nav class="burger-menu">
            <ul class="burger-menu__list">
                <li class="burger-menu__list_item"><a href="#" class="active">home</a></li>
                <li class="burger-menu__list_item"><a href="#">about us</a></li>
                <li class="burger-menu__list_item"><a href="#">our journal</a></li>
                <li class="burger-menu__list_item"><a href="#">projects</a></li>
                <li class="burger-menu__list_item"><a href="#">news</a></li>
                <li class="burger-menu__list_item"><a href="#">features</a></li>
                <li class="burger-menu__list_item"><a href="#">contact</a></li>
            </ul>
        </nav>
    </section>
</header>
