.footer{
    background-color: black;
    padding-bottom: 70px;
    & .footer-main-tittle{
        color: #FEFEFE;
        width: 195px;
        margin: 0 auto;
        padding-top: 66px;
    }
    & .footer-tittle{
        margin-top: 22px;
        color: #B9B9B9;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
    & .footer-tittle-phone{
        display: none;
    }
    & .icons_wrapper{
        display: flex;
        gap: 6px;
        width: 192px;
        margin-top: 37px;
        & .icon{
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .icon1{
            border-radius: 50%;
            border: 2px solid #F8902E;
            & img{
                width: 10px;
                height: 10px;  
            }
        }
        & .icon2{
            border-radius: 50%;
            border: 2px solid #39599F;
            & img{
                width: 6px;
                height: 12px; 
            }
        }
        & .icon3{
            border-radius: 50%;
            border: 2px solid #45B0E3;
            & img{
                width: 9px;
                height: 12px; 
            }
        }
        & .icon4{
            border-radius: 50%;
            border: 2px solid #D97AB0;
            & img{
                width: 12px;
                height: 12px; 
            }
        }
        & .icon5{
            border-radius: 50%;
            border: 2px solid #CC212C;
            & img{
                width: 10px;
                height: 12px;
            }
        }
    }
    & .footer-contacts{
        margin-top: 34px;
        width: 613px;
        & .contact{
            color: #B9B9B9;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            &:not(:last-child)::after {
                content: '/';
                color: #B9B9B9;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}