.header{
    margin-top: 45px;
    & .menu{
        display: flex;
        justify-content: center;
        & .menu__list {
                text-align: center;
                display: flex;
                justify-content: space-between;
                width: 812px;
                & .menu__list_item {
                    list-style-type: none;
                    & a {
                        text-decoration: none;
                        color: #4E4E4E;
                        font-family: Roboto;
                        font-size: 11px;
                        font-weight: 400;
                        letter-spacing: 1.1px;
                        text-transform: uppercase;
                        &:hover {
                            color: #57A4A4;
                        }
                    }
                }
            }
    }
    
}