@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

*{
    margin: 0 auto;
    padding: 0;
    background-size: cover;
    font-family: Roboto;
}

main{
    width: 100%;
}

.container{
    width: 1170px;
}

.intro-img{
    margin-top: 51px;
    width: 1170px;
    height: 550px;
    background-image: url(../img/intro-img1.png);
}

.tittle{
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.tittle-phone{
    display: none;
}

.menu-button{
    display: none;
}

.recent-posts_wrapper{
    margin-top: 66px;
    & .recent-posts__post_wrapper{
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        & .recent-posts__post{
            width: 555px;
            display: flex;
            gap: 20px;
            & img{
                width: 160px;
                height: 140px;
            }
            & .post-text{
                & .post-tittle{
                    color: #4E4E4E;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 30px;
                }
                & .post-info-tittle{
                    color: #7C7C7C;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                }
                & .post-subtittle{
                    color: #5C5C5C;
                    font-size: 14px;
                    font-weight: 400;
                    margin-top: 10px;
                    line-height: 26px;
                    width: 404px;
                }
            }
            &:nth-child(1), &:nth-child(3) {
                margin-right: 28px;
            }
        }
    }
}

.latest-posts_wrapper{
    margin-left: 0;
    padding-left: 0;
    background-color: rgba($color: #000000, $alpha: 0.03);
    width: 100%;
    margin-top: 69px;
    padding-bottom: 49px;
    & .latest-posts{
        padding-top: 47px;
        & .latest-posts_text{
            display: flex;
            justify-content: space-between;
            & h2{
                width: 267px;
            }
            & .latest-posts_visit-inst{
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 22px;
                width: 188px;
                & a{
                    text-decoration: none;
                    color: #4E4E4E;
                }
            }
        }
        & .latest-post-img_flex{
            display: flex;
            gap: 10px;
            margin-top: 24px;
            & .latest-post-img{
                width: 285px;
                height: 285px;
            }
            & .latest-post-img1{
                background-image: url(../img/post-11.png);
            }
            & .latest-post-img2{
                background-image: url(../img/post-21.png);
            }
            & .latest-post-img3{
                background-image: url(../img/post-31.png);
            }
            & .latest-post-img4{
                background-image: url(../img/post-41.png);
            }
        }
        
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container{
        width: 768px;
    }

    .intro-img{
        margin-top: 51px;
        width: 768px;
        height: 361px;
    }

    .menu{
        width: 609px;
        & .menu-button{
            display: none;
        }
    }

    .recent-posts_wrapper {
        margin-top: 56px;
        & .recent-posts__post_wrapper {
            width: 555px;
            margin-left: 0;
            & .recent-posts__post {
                margin-right: 0;
                width: 555px;
                &:nth-child(1), &:nth-child(3) {
                    margin-right: 0;
                }
            }
        }
    }

    .latest-posts_wrapper{
        & .latest-posts{
            & .latest-post-img_flex{
                & .latest-post-img{
                    width: 249px;
                    height: 249px;
                }
                & .latest-post-img4{
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .container{
        width: 320px;
    }

    .tittle{
        font-size: 14px;
    }

    .intro-img{
        margin-top: 23px;
        width: 320px;
        height: 150px;
    }

    .header{
        margin-top: 23px;
        & .menu{
            display: none;
        }
        & #menuToggle{
            display: block;
            z-index: 1;
            margin-right: 0;
            & input{
                margin-right: 0;
                display: block;
                width: 44px;
                height: 37px;
                position: absolute;
                top: 0;
                right: 27px;
                cursor: pointer;
                opacity: 0;
                z-index: 2;
                &:checked ~ .burger-menu{
                    display: block;
                }
                &:checked ~ .button-lines svg{
                    display: block;
                }
            }
            & .button-lines{
                margin-right: 0;
                width: 44px;
                height: 37px;
                & .visible{
                    display: none;
                }
                & svg{
                    display: block;
                }
            }
            & .burger-menu{
                display: none;
                position: fixed;
                right: 293px;
                z-index: 2;
                margin-right: 0;
                width: 182px;
                height: 208px;
                background-color: #F5F5F5;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                & .burger-menu__list{
                    list-style-type: none;
                    & .burger-menu__list_item{
                        padding-top: 10px;
                        transition: color 0.3s ease;
                        & a{
                            text-decoration: none;
                            padding-left: 13px;
                            color: #4E4E4E;
                            font-size: 11px;
                            font-weight: 400;
                            letter-spacing: 1.1px;
                            text-transform: uppercase;
                        }
                        & .active{
                            color: #57A4A4;
                        }
                        &:hover{
                            background-color: #E5E5E5;
                        }
                    }
                }
            }
        }
        
    }
    
    .recent-posts_wrapper {
        margin-top: 56px;
        & .recent-posts__post_wrapper {
            & .recent-posts__post {
                margin-right: 0;
                width: 768px;
                flex-direction: column;
                & img{
                    margin: 0;
                    width: 160px;
                    height: 140px;
                }
                & .post-text{
                    
                margin: 0;
                    & .post-subtittle{
                        display: none;
                    }
                }
                &:nth-child(1), &:nth-child(3) {
                    margin-right: 0;
                }
            }
        }
    }

    .latest-posts_wrapper{
        background-color: transparent;
        & .latest-posts{
            & .latest-posts_text{
                & h2{
                    display: none;
                }
                & h3{
                    display: block;
                }
                & .latest-posts_visit-inst{
                    display: none;
                }
            }
            & .latest-post-img_flex{
                & .latest-post-img{
                    width: 249px;
                    height: 249px;
                }
                & .latest-post-img2, .latest-post-img3, .latest-post-img4{
                    display: none;
                }
            }
        }
    }

    .footer{
        & .footer-main-tittle{
            padding-top: 38px;
        }
        & .footer-tittle{
            display: none;
        }
        & .footer-tittle-phone{
            display: block;
            width: 303px;
            color: #B9B9B9;
            margin-top: 8px;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
        }
        & .footer-contacts{
            & .contacts-wrapper{
                width: 335px;
                line-height: 24px;
                display: flex;
                flex-wrap: wrap;
                & .contact{
                    &:not(:last-child)::after {
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}